.matterjs {
    width: 100%;
    height: 100%;
    background: #000000;
    
    .matterjsWrap {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        top: 0;
        overflow: hidden;
        
        color: white;
        
    }
}
