.historyController {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	filter: drop-shadow(0 1px 3px #3c40434d) drop-shadow(0 4px 8px #3c404326);
	border-radius: 28px;
	padding: 10px;
	margin-top: 10px;

	li {
		button {
			width: 36px;
			height: 36px;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;

			&:disabled {
				opacity: 0.3;
			}

			&.undo {
				background-image: url("../../../resources/image/canvas/undo.svg");
			}

			&.redo {
				background-image: url("../../../resources/image/canvas/redo.svg");
			}

			&.pressed {
				background-color: #f0f0f0;
			}
		}
	}
}
