.artGalley {
    width: 100%;
    height: 100%;
    background: #000000;
    
    .artGalleyWrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: calc(100% - 80px);
        left: 0; 
        transition: top 1.4s ease-in-out, opacity .8s;
        
        .artGalleyMenuButton {
            position: absolute;
            width: 35px;
            height: 35px;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 110px;
            transition: 0.5s all ease-out;
            z-index: 3;
            i {
                font-size: 30px;
                color: #ffffff;
            }
            &:hover {
                bottom: 100px;
            }
        }
    }

    .artGalleyMenuWrap {
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        top: 0;
        left: 0; 
        transition: top 1.7s ease, opacity .7s ease;

        .artGalleyMenu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            >p {
                display: block;
                padding: 10px;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}