.pokemonPlus {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #000000;
    
    .pokemonPlusWrap {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        
        @keyframes red {
            0% {
                background: white;
                box-shadow: 0px 0px 0px 0px white;
            }
            25% {
                background: red;
                box-shadow: 0px 0px 25px 1px red;
            }
            50% {
                background: white;
                box-shadow: 0px 0px 0px 0px white;
            }
            75% {
                background: red;
                box-shadow: 0px 0px 25px 1px red;
            }
            100% {
                background: white;
                box-shadow: 0px 0px 0px 0px white;
            }
        }
        
        @keyframes rainbow {
            0% {
                background: white;
                box-shadow: 0px 0px 0px 0px white;
            }
            10% {
                background: red;
                box-shadow: 0px 0px 25px 1px red;
            }
            20% {
                background: orange;
                box-shadow: 0px 0px 25px 1px orange;
            }
            30% {
                background: yellow;
                box-shadow: 0px 0px 25px 1px yellow;
            }
            40% {
                background: green;
                box-shadow: 0px 0px 25px 1px green;
            }
            50% {
                background: blue;
                box-shadow: 0px 0px 25px 1px blue;
            }
            60% {
                background: navy;
                box-shadow: 0px 0px 25px 1px navy;
            }
            70% {
                background: indigo;
                box-shadow: 0px 0px 25px 1px indigo;
            }
            80% {
                background: purple;
                box-shadow: 0px 0px 25px 1px purple;
            }
            90% {
                background: magenta;
                box-shadow: 0px 0px 25px 1px magenta;
            }
            95% {
                background: pink;
                box-shadow: 0px 0px 25px 1px pink;
            }
            100% {
                background: white;
                box-shadow: 0px 0px 0px 0px white;
            }
        }
        
        
        .circle {
            width: calc(10vw + 10vh);
            height: calc(10vw + 10vh);
            max-width: 200px;
            max-height: 200px;
            border-radius: 50%;
            background: #ffffff;
            cursor: pointer;
        }
    }
}
