.hellTaker {
  width: 100%;
  height: 100%;
  background: #000000;

  .hellTakerWrap {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    justify-content: center;
    align-items: center;

    .hellTaker {
      position: absolute;
      background: #000000;
      border-radius: 100%;
      transition: all 0.5s;
      z-index: 1;

      &:focus {
        outline: none;
      }
    }

    .life {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
    }

    .map {
      position: relative;

      p {
        display: inline-block;
      }

      div {
        font-size: 0;
      }

      .land {
        background: #700c29;
      }

      .rock {
        background: brown;
      }

      .thorn {
        background: lightgrey;
      }

      .goal {
        background: green;
      }
    }

  }
}