.hamTaker {
    width: 100%;
    height: 100%;
    background: #000000;

    .hamTakerWrap {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        top: 0;

        .ham {
            position: absolute;
            transition: all 0.15s;
            z-index: 1;
            
            >p {
                width: 100%;
                height: 100%;
                background-image: url('./img/헬테이커.gif');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                transform: perspective(0) rotateX(-40deg) scale(1.5) translateY(-15px);
            }

            &:focus {
                outline: none;
            }
        }

        .life {
            font-size: 24px;
            font-weight: bold;
            text-align: left;
            color: #ffffff;
        }

        .map {
            position: relative;
            transform: perspective(400px) rotateX(25deg);

            p {
                display: inline-block;
            }

            div {
                font-size: 0;
            }

            .land {
                background: #700c29;
            }

            .rock {
                background: brown;
            }

            .thorn {
                background: lightgrey;
            }

            .goal {
                background: green;
            }
        }

        .hamTakerSuccess {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00000080;
            
            .hamTakerSuccessLeft {
                position: absolute;
                width: 35%;
                height: 50%;
                left: 0;
                bottom: 0;
                background-image: url("./img/hamTakerDone.gif");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            .hamTakerSuccessRight {
                position: absolute;
                width: 35%;
                height: 50%;
                right: 0;
                bottom: 0;
                transform: scaleX(-1);
                background-image: url("./img/hamTakerDone.gif");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            .hamTakerSuccessSentence {
                position: absolute;
                width: 100%;
                text-align: center;
                height: 20%;
                color: #ffffff;
                bottom: 0;
                >h2 {
                    font-size: 5vw;
                    font-weight: bold;
                    letter-spacing: 1vw;
                    text-shadow: 0px 0px 10px #ffffff;
                }
                >h3 {
                    font-size: 2vw;
                    letter-spacing: 2vw;
                }
            }
        }
        .hamTakerFail {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            background: #000000;
            transition: all 0.5s;
            
            >h2 {
                color: #ffffff;
                font-size: 10vw;
            }
        }
    }
    .characterWrap {
        position: absolute;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        bottom: 80px;
        >p {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
        .루시퍼 {
            background-image: url('./img/루시퍼.gif');
        }
        .말리나 {
            background-image: url('./img/말리나.gif');
        }
        .모데우스 {
            background-image: url('./img/모데우스.gif');
        }
        .아자젤 {
            background-image: url('./img/아자젤.gif');
        }
        .저스티스 {
            background-image: url('./img/저스티스.gif');
        }
        .저지먼트 {
            background-image: url('./img/저지먼트.gif');
        }
        .즈드라다 {
            background-image: url('./img/즈드라다.gif');
        }
        .케르베로스 {
            background-image: url('./img/케르베로스.gif');
        }
        .판데모니카 {
            background-image: url('./img/판데모니카.gif');
        }
    }
}