.appMenu{
    background: RGBA(255, 255, 255, 0.1);
}

.hamTaker {
    width: 100%;
    height: 100%;
    background: #000000;

    .hamTakerWrap {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        top: 0;

        .ham {
            width: 50px;
            height: 50px;
            position: absolute;
            transition: all 0.15s;
            z-index: 1;

            &:focus {
                outline: none;
            }
        }
        .ham::after {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-image: url('./img/헬테이커.gif');
            transform: scale(1.3) translateY(-20px);
        }

        .life {
            font-size: 40px;
            font-weight: bold;
            text-align: left;
            color: #ffffff;
            text-shadow: 0px 0px 10px #ffffff;
        }

        .map {
            position: relative;
            transform: perspective(400px) rotateX(15deg);
            
            p {
                display: inline-block;
            }
            div {
                font-size: 0;
            }
            
            .mapTile {
                p::after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
            
            .space {
                background: #000000;
            }
            
            .land {
                background: #700c29;
            }
            
            .rock {
                background: #700c29;
            }
            .rock::after {
                background-image: url('./img/rock.png');
                transform: translateY(-10px);
            }
            
            .thorn {
                background: #700c29;
            }
            .thorn::after {
                background-image: url('./img/spikeTrapOn.png');
            }
            
            .goal {
                background: green;
            }
            
            .spikeTrapOn {
                background: #700c29;
            }
            .spikeTrapOn::after {
                background-image: url('./img/spikeTrapOn.png');
                transition: all 0.2s;
            }
            
            .spikeTrapOff {
                background: #700c29;
            }
            .spikeTrapOff::after {
                background-image: url('./img/spikeTrapOff.png');
                transition: all 0.2s;
            }
            
            .skeleton {
                background: #700c29;
            }
            .skeleton::after {
                background-image: url('./img/해골.gif');
                transform: scale(1.3) translateY(-20px);
            }
        }

        .hamTakerSuccess {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #00000080;
            
            .hamTakerSuccessLeft {
                position: absolute;
                width: 35%;
                height: 50%;
                left: 0;
                bottom: 0;
                background-image: url("./img/hamTakerDone.gif");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            .hamTakerSuccessRight {
                position: absolute;
                width: 35%;
                height: 50%;
                right: 0;
                bottom: 0;
                transform: scaleX(-1);
                background-image: url("./img/hamTakerDone.gif");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            .hamTakerSuccessSentence {
                position: absolute;
                width: 100%;
                text-align: center;
                height: 20%;
                color: #ffffff;
                bottom: 0;
                >h2 {
                    font-size: 5vw;
                    font-weight: bold;
                    letter-spacing: 1vw;
                    text-shadow: 0px 0px 10px #ffffff;
                }
                >h3 {
                    font-size: 2vw;
                    letter-spacing: 2vw;
                }
            }
        }
        .hamTakerFail {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            
            .hamTakerFailUp {
                position: absolute;
                width: 100%;
                height: 0px;
                background: #000000;
                top: 0;
                transition: all 0.3s;
            }

            .hamTakerFailDown {
                position: absolute;
                width: 100%;
                height: 0px;
                background: #000000;
                bottom: 0;
                transition: all 0.3s;
            }

            .hamTakerFailCenter {
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                bottom: 0;
                opacity: 0;
                background: #000000;
                transition: all 0.3s;
                >h2 {
                    font-size: 10vw;
                    font-weight: bold;
                    color: #ffffff;
                    text-shadow: 0px 0px 10px #ffffff;
                }
            }    
        }

        
        .hamTakerButtonWrap {
            position: absolute;
            width: 30vw;
            height: 30vw;
            max-width: 250px;
            max-height: 250px;
            right: 30px;
            bottom: 60px;
            
            .hamTakerButton {
                position: relative;
                width: 30vw;
                height: 30vw;
                max-width: 250px;
                max-height: 250px;
                
                >div {
                    position: absolute;
                    z-index: 999;
                    margin: auto;
                    background: #ffffff30;
                }
                
                .hamTakerUpButton {
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 30%;
                    height: 42%;
                    border-radius: 30% 30% 100% 100%;
                }
    
                .hamTakerDownButton {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 30%;
                    height: 42%;
                    border-radius: 100% 100% 30% 30%;
                }
    
                .hamTakerLeftButton {
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 42%;
                    height: 30%;
                    border-radius: 30% 100% 100% 30%;
                }
    
                .hamTakerRightButton {
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 42%;
                    height: 30%;
                    border-radius: 100% 30% 30% 100%;
                }
            }
        }
        
        
    }
    .characterWrap {
        position: absolute;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        bottom: 80px;
        >p {
            width: 8vw;
            height: 8vw;
            max-width: 50px;
            max-height: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
        .루시퍼 {
            background-image: url('./img/루시퍼.gif');
        }
        .말리나 {
            background-image: url('./img/말리나.gif');
        }
        .모데우스 {
            background-image: url('./img/모데우스.gif');
        }
        .아자젤 {
            background-image: url('./img/아자젤.gif');
        }
        .저스티스 {
            background-image: url('./img/저스티스.gif');
        }
        .저지먼트 {
            background-image: url('./img/저지먼트.gif');
        }
        .즈드라다 {
            background-image: url('./img/즈드라다.gif');
        }
        .케르베로스 {
            background-image: url('./img/케르베로스.gif');
        }
        .판데모니카 {
            background-image: url('./img/판데모니카.gif');
        }
    }
}