@font-face {
    font-family: 'NotoSerif-Black';
    src: url('../src/resources/font/NotoSerifKR-Black.otf');
}

@font-face {
    font-family: 'NotoSerif-Bold';
    src: url('../src/resources/font/NotoSerifKR-Bold.otf');
}

@font-face {
    font-family: 'NotoSerif-ExtraLight';
    src: url('../src/resources/font/NotoSerifKR-ExtraLight.otf');
}

@font-face {
    font-family: 'NotoSerif-Light';
    src: url('../src/resources/font/NotoSerifKR-Light.otf');
}

@font-face {
    font-family: 'NotoSerif-Medium';
    src: url('../src/resources/font/NotoSerifKR-Medium.otf');
}

@font-face {
    font-family: 'NotoSerif-Regular';
    src: url('../src/resources/font/NotoSerifKR-Regular.otf');
}

@font-face {
    font-family: 'NotoSerif-SemiBold';
    src: url('../src/resources/font/NotoSerifKR-SemiBold.otf');
}