.hamderTale {
    width: 100%;
    height: 100%;
    background: #000000;

    .hamderTaleWrap {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        top: 0;
        overflow: hidden;

        .hamderTaleCharacterWrap {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            .hamderTaleCharacter {
                width: 165px;
                height: 165px;
                margin-left: 100px;
                background-image: url('../../resources/image/hamderTale/sans.gif');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
    
            .hamderTaleScript {
                position: relative;
                width: 100px;
                height: 120px;
                background: #ffffff;
                border-radius: 20px;
                padding: 10px;
                word-break: keep-all;
                font-weight: 900;
                z-index: 3;

                &::after {
                    content: '';
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    background: #ffffff;
                    transform: rotate(45deg);
                }
            }
        }

        .hamderTaleHeartBox {
            position: relative;
            width: 165px;
            height: 165px;
            border: 5px solid #ffffff;
            margin: 10px;

            .hamderTaleHeart {
                position: absolute;
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-image: url('../../resources/image/hamderTale/heart.png');
    
                &:focus {
                    outline: none;
                }
            }
        }

        .hamderTaleStatusbar {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 20px;
            font-weight: 900;
            
            .hamderTaleStatusbarName {
                margin-right: 20px;
            }

            .hamderTaleStatusbarLevel {
                margin-right: 20px;
            }
            
            .hamderTaleHP {
                font-size: 14px;
                margin-right: 5px;
            }
            
            .hamderTaleHPBarWrap {
                width: 100px;
                height: 20px;
                margin-right: 5px;
                
                .hamderTaleHPBar {
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 20px;
                    background: #ffff00;
                }
    
                .hamderTaleMaxHPBar {
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 20px;
                    background: #bf0000;
                }
            }
            
            .hamderTaleKR {
                font-size: 14px;
                margin-right: 10px;
            }
            
            .hamderTaleStatusbarHP {
            }
        }

        .hamderTaleMenuWrap {
            display: flex;
            width: 100%;
            justify-content: center;
            >ul {
                display: flex;
                li {
                    display: flex;
                    width: 18vw;
                    height: 8vh;
                    max-width: 110px;
                    max-height: 42px;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    color: #fd7c20;
                    border: 2px solid #fd7c20;
                    font-size: 23px;
                    font-weight: 900;
                    user-select: none;
                    cursor: pointer;

                    @media screen and (max-width: 499px){
                        font-size: 15px;
                    }

                    p {
                        width: 28px;
                        height: 28px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                    }
                    
                    .hamderTaleAttack {
                        background-image: url('../../resources/image/hamderTale/attack.png');
                    }
                    
                    .hamderTaleaAction {
                        background-image: url('../../resources/image/hamderTale/action.png');
                    }

                    .hamderTaleItem {
                        background-image: url('../../resources/image/hamderTale/item.png');
                    }

                    .hamderTaleMercy {
                        background-image: url('../../resources/image/hamderTale/mercy.png');
                    }
                }
                li:nth-child(3){
                    letter-spacing: -5px;
                }
            }
        }
    }

    .hamderTalePattern01 {
        .gaster {
            position: absolute;
            background-color: #ffffff;
            z-index: 3;
        }

        .gasterTop {
            height: 60px;
            top: -10px;
            left: -10px;
        }

        .gasterBottom {
            height: 60px;
            bottom: -10px;
            right: -10px;
        }

        .gasterLeft {
            width: 60px;
            top: -10px;
            left: -10px;
        }

        .gasterRight {
            width: 60px;
            bottom: -10px;
            right: -10px;
        }

        .gasterBlaster {
            background-image: url('../../resources/image/hamderTale/gasterClose.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            z-index: 3;
        }

        .gasterBlasterTop {
            position: absolute;
        }

        .gasterBlasterBottom {
            position: absolute;
        }

        .gasterBlasterLeft {
            position: absolute;
        }

        .gasterBlasterRight {
            position: absolute;
        }
        
        @keyframes gasterTop {
            0% { 
                top: -5px;
                width: 3000px;
                height: 60px; 
            }
            15% { 
                top: -10px;
                width: 3000px;
                height: 70px; 
            }
            30% { 
                top: -5px;
                width: 3000px;
                height: 60px; 
            }
            45% { 
                top: -10px;
                width: 3000px;
                height: 70px; 
                opacity: 1;
            }
            100% {
                top: 10px;
                left: -800px;
                width: 3000px;
                height: 20px;
                opacity: 0;
            }
        }

        @keyframes gasterBottom {
            0% { 
                bottom: -5px;
                width: 3000px;
                height: 60px; 
            }
            15% { 
                bottom: -10px;
                width: 3000px;
                height: 70px; 
            }
            30% { 
                bottom: -5px;
                width: 3000px;
                height: 60px; 
            }
            45% { 
                bottom: -10px;
                width: 3000px;
                height: 70px; 
                opacity: 1;
            }
            100% {
                bottom: 10px;
                right: -800px;
                width: 3000px;
                height: 20px;
                opacity: 0;
            }
        }

        @keyframes gasterLeft {
            0% { 
                left: -5px;
                width: 60px; 
                height: 3000px;
            }
            15% { 
                left: -10px;
                width: 70px; 
                height: 3000px;
            }
            30% { 
                left: -5px;
                width: 60px; 
                height: 3000px;
            }
            45% { 
                left: -10px;
                width: 70px; 
                height: 3000px;
                opacity: 1;
            }
            100% {
                left: 10px;
                top: -800px;
                width: 20px;
                height: 3000px;
                opacity: 0;
            }
        }

        @keyframes gasterRight {
            0% { 
                right: -5px;
                width: 60px; 
                height: 3000px;
            }
            15% { 
                right: -10px;
                width: 70px; 
                height: 3000px;
            }
            30% { 
                right: -5px;
                width: 60px; 
                height: 3000px;
            }
            45% { 
                right: -10px;
                width: 70px; 
                height: 3000px;
                opacity: 1;
            }
            100% {
                right: 10px;
                bottom: -800px;
                width: 20px;
                height: 3000px;
                opacity: 0;
            }
        }

        @keyframes gasterBlasterTop {
            0% { 
                width: 120px;
                height: 120px;
                top: -600px;
                left: -400px;
            }
            30% { 
                top: -35px;
                left: -100px;
                transform: rotate(-90deg);
                background-image: url('../../resources/image/hamderTale/gasterClose.png');
            }
            34% {
                top: -35px;
                left: -100px;
                transform: rotate(-90deg);
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
            }
            50% {
                opacity: 1;
            }
            60% {
                opacity: 0;
            }
            100% {
                width: 120px;
                height: 120px;
                top: -35px;
                left: -4000px;
                transform: rotate(-90deg);
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
                opacity: 0;
            }
        }

        @keyframes gasterBlasterBottom {
            0% { 
                width: 120px;
                height: 120px;
                bottom: -600px;
                right: -400px;
            }
            30% { 
                bottom: -35px;
                right: -100px;
                transform: rotate(90deg);
                background-image: url('../../resources/image/hamderTale/gasterClose.png');
            }
            34% {
                bottom: -35px;
                right: -100px;
                transform: rotate(90deg);
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
            }
            50% {
                opacity: 1;
            }
            60% {
                opacity: 0;
            }
            100% {
                width: 120px;
                height: 120px;
                bottom: -35px;
                right: -4000px;
                transform: rotate(90deg);
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
                opacity: 0;
            }
        }

        @keyframes gasterBlasterLeft {
            0% { 
                width: 120px;
                height: 120px;
                left: -300px;
                top: -600px;
            }
            30% { 
                left: -35px;
                top: -100px;
                background-image: url('../../resources/image/hamderTale/gasterClose.png');
            }
            34% {
                left: -35px;
                top: -100px;
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
            }
            50% {
                opacity: 1;
            }
            60% {
                opacity: 0;
            }
            100% {
                width: 120px;
                height: 120px;
                left: -35px;
                top: -4000px;
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
                opacity: 0;
            }
        }

        @keyframes gasterBlasterRight {
            0% { 
                width: 120px;
                height: 120px;
                right: -300px;
                bottom: -600px;
                transform: rotate(180deg);
            }
            30% { 
                right: -35px;
                bottom: -100px;
                background-image: url('../../resources/image/hamderTale/gasterClose.png');
            }
            34% {
                right: -35px;
                bottom: -100px;
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
            }
            50% {
                opacity: 1;
            }
            60% {
                opacity: 0;
            }
            100% {
                width: 120px;
                height: 120px;
                right: -35px;
                bottom: -4000px;
                background-image: url('../../resources/image/hamderTale/gasterOpen.png');
                opacity: 0;
                transform: rotate(180deg);
            }
        }
    }
}